[user]
	email = deity719@naver.com
	name = dEitY719
[credential]
	helper = store
[core]
	editor = code --wait
	hooksPath = ~/.config/git/hooks
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	activitytimeout = 300
	locksverify = false
[push]
	autoSetupRemote = true
