.idea
.venv
*egg-info

.python-version
uv.lock

.git-credentials

# Local machine-specific configurations
*.local.bash
bash/env/local.bash
bash/alias/local.bash
bash/app/local.bash
bash/config/pg_services.list

./backup/.env.local
